* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(0, 0, 0, 0.322);
}


/*barra de navegacion*/

div.barra-nav {
    text-align: center;
    background-color: rgb(28, 49, 18);
    overflow: auto;
    white-space: nowrap;
}

div.barra-nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.barra-nav a:hover {
    background-color: rgb(52, 131, 49);
}


/*titulo de la pagina*/

.title {
    font-size: 65px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}


/*Cuerpo de l pagina*/

.cuerp-pagina {
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 50px;
}

#img-prin {
    width: 55%;
    float: left;
    margin-right: 15px;
}

#text-que-es-la-musica {
    margin-top: 10px;
    font-size: 20px;
}

#tit-geros-musicales {
    margin-top: 50px;
}

#text-generos-music {
    margin-top: 5px;
    font-size: 23px;
    color: rgba(5, 78, 48, 0.836);
}

#sub-tit {
    font-size: 30px;
    color: rgba(32, 112, 12, 0.829);
}

#musica-clasica {
    margin-left: 30px;
    margin-top: 9px;
    font-size: 20px;
    color: rgb(34, 40, 44);
}